body {
  font-family: 'Nanum Pen Script', cursive;
    position: relative;
  align-content: center;
  text-align: center;
  margin: 0px;
  display: flex;
  flex-direction: column;
  /* background-color: #fdf9de; */
  opacity: 1;
  background-image: linear-gradient(#d7c7fc 1.5px, transparent 1.5px), linear-gradient(90deg, #d7c7fc 1.5px, transparent 1.5px), linear-gradient(#d7c7fc 0.9px, transparent 0.9px), linear-gradient(90deg, #d7c7fc 0.9px, #F5F5DC 0.9px);
  background-size: 45px 45px, 45px 45px, 9px 9px, 9px 9px;
  background-position: -1.8px -1.8px, -1.8px -1.8px, -0.9px -0.9px, -0.9px -0.9px;
}

h1 {
  font-family: 'Homemade Apple', cursive;
    color: Sienna ;
  position: relative;
    font-size: 3rem;
  font-weight: bold;
  padding: 10%;
  background-image: url(images/pinktape.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 50%;
  background-position: center;
}

#ripped {
  position: absolute;
  left: 20%;
  top:2%;
  width: 50vw;
  transform: rotate(170deg);
}

#blob {
    position: fixed;
  align-content: center;
;
    width: 100vw;
    height: 100%;
    opacity: 70%;


}

#flower1 {
    position: absolute;
    left: 65%;
    width: 15vw;
    top:50px;
      transform: rotate(17deg);
}

#tape2 {
    position: fixed;
    top:20px;
    left: 0%;
    width: 25vw;
    transform: rotate(-20deg);
}

#flower2 {
    position: absolute;
    top:0px;
    left: -40%;
    width: 15vw;
}

#flower3 {
    position: absolute;
    top:50px;
    left: 100%;
    width: 10vw;
    transform: rotate(200deg);
}

#blob1 {
    position: absolute;
    top:100px;
    left: -70%;
    width: 45vw;
    opacity: 30%;
    transform: rotate(20deg);
}
/* #piece {
  	opacity: 50%;
    position: fixed;
    top:0px;
    left: 0%;
    width: 20vw;
    transform: rotate(5deg);
} */

h2 {

  color: DarkSlateGray;
    position: inherit;
      font-size: 2.2rem;
      font-weight: lighter;
      margin:0% 25%;
        background-repeat: no-repeat;
}

img {

  position: relative;

}

video{
  position: relative;
padding: 7%;
}

video:hover{
	filter: drop-shadow(2px 2px 8px #000000);

  transition: .2s all;

	filter:brightness(5px);
}

.img1 {
  float: left;
  position: relative;
  top: ;
  left: ;
  transform: rotate(0deg);
}

.img2 {
  float: left;
  position: relative;
  top: ;
  left: ;
  transform: rotate(-5deg);
}

.img3 {
  float: left;
  position: relative;
  top: ;
  left: ;
  transform: rotate(9deg);
}

.img4 {
  float: left;
  position: relative;
  top: ;
  left: ;
  transform: rotate(5deg);
}

.img5 {
  position: relative;
  float: left;
  top: ;
  left: -;
  transform: rotate(-10deg);
}

.img6 {
  position: relative;
  float: left;
  top: ;
  left: ;
  transform: rotate(9deg);
}

.img7 {
  position: relative;
  float: left;
  top: ;
  left: ;
  transform: rotate(5deg);
}

.img8 {
  position: relative;
  float: left;
  top: ;
  left: -;
  transform: rotate(-5deg);
}

.img9 {
  position: relative;
  float: left;
  top: ;
  left: ;
  transform: rotate(-2deg);
}

.img10 {
  position: relative;
  float: left;
  top: ;
  left: ;
  transform: rotate(-2deg);
}

#a1 {
  position: relative;
  float: left;
  transform: rotate(-2deg);
}

.img1:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img2:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(-9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img3:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(-5deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img4:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(-9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img5:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(5deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img6:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(-5deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img7:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(-9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img8:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img9:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(-9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.img10:hover{
	filter: drop-shadow(2px 2px 8px #000000);
  transform: rotate(9deg);
  transition: .2s all;
	opacity: 90%;
	filter:brightness(5px);
}

.bg {
  position: relative;
}

.container {
  margin: 5% 12% 20% 12%; /*top, right, bottom, left*/
  align-content: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* display:flex; */
}

.bg {
  position: absolute;
}

#line1, #line2 {
  top: -25%;
  width: 100%;
  height: 300%;
  position: relative;
  opacity: 50%;
}

#line2 {
position: relative;
margin-top: 0%;
opacity: 50%;
}

#line3 {
top:-200px;
position: relative;
opacity: 50%;
}

#until {
top:0px;
position: relative;
opacity: 100%;
}

#star0 {
position: inherit;
left: 90%;
margin-top:-10px;
}

#star {
float: right;
left:0%;
position: relative;
margin-top: -40%;
top:100px;
}

#anim1 {
  width: 120%;
  position: absolute;
  top: 10px;
  left: 0px;
}

#btstext {
  width: 92%;
  position: absolute;
  top: 260px;
  left: 15px;
}

#heart {
  position: absolute;
  top: 50px;
  left: -10px;
  width: 110%;
}

#cloud {
  position: absolute;
  top: -10px;
  left: 150px;
  width: 75%;
  transform: rotate(5deg);
}

#hansheart {
  position: absolute;
  top: 130px;
  left: 200px;
  width: 35%;
  transform: rotate(-10deg);
}

#circle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  transform: rotate(-10deg);
}

#btslogo {
  position: absolute;
  top: 330px;
  left: 200px;
  width: 30%;
  transform: rotate(-10deg);
}

#sun {
  position: absolute;
  top: 30px;
  left: 170px;
  width: 60%;
  transform: rotate(-10deg);
}

p {

}
footer{
  background-image: linear-gradient(transparent, wheat);
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0;
  text-align: right;
}
