.container{
      position: absolute;
      justify-content:center;
flex-direction:column;
  display:flex;
}



.img1{
    float: left;
    position: relative;
    top: 20px;
    left: 100px;
    transform: rotate(10deg);
}

.img5{

    position: relative;
  	float: right;
    top: 20px;
    left: 100px;
    transform: rotate(-10deg);
}

img{
      position: relative;
}




#line{
  top:-25%;
    width: 100%;
    height: 300%;
      position: absolute;
}

#anim1 {
  width: 50%;
  position: absolute;
  top: 610px;
  left: 150px;
}

#btstext {
  width: 92%;
  position: absolute;
  top: 260px;
  left: 15px;
}

#heart {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 110%;
}

body{
  background-color: #fdf9de;
  opacity: 1;
  background-image:  linear-gradient(#d7c7fc 1.5px, transparent 1.5px), linear-gradient(90deg, #d7c7fc 1.5px, transparent 1.5px), linear-gradient(#d7c7fc 0.9px, transparent 0.9px), linear-gradient(90deg, #d7c7fc 0.9px, #fdf9de 0.9px);
  background-size: 45px 45px, 45px 45px, 9px 9px, 9px 9px;
  background-position: -1.8px -1.8px, -1.8px -1.8px, -0.9px -0.9px, -0.9px -0.9px;
}
