
body {
margin: 0;
}

img{
  display: block;
  width: 120%;
  height: auto;
}

.layer1 .layer2 .layer3 .layer4 .layer5 .layer6 .layer7 .layer8 .layer9 .layer10 .layer11 {
  /* left:-100px; */
  height:auto;
  position:absolute;
}


#anim {


}
.container{
  margin: 0 auto;
  top:-65px;
  width:100vw;
  /* max-width: 100%; */
  position: relative;
    overflow: hidden;
}

.content{
  background-color: white;
}

#scene{
  margin: 0;
  padding: 0;
}

#projector {
  position: absolute;
  top: 200px;
  left: 0px;
  width:100vw;
  height:1000px;
  overflow: hidden;
}
